#addproduct {
  margin: 24px 100px;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#addproduct h2 {
  margin-bottom: 2.5rem;
  font-size: var(--fs-20);
  font-weight: var(--fw-semi-bold);
  color: var(--main-purple);
}

#addproduct form {
  margin: 0 12px;
}

#addproduct .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  color: var(--text-primary);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  background-color: var(--form-background);
  padding: 10px 16px;
  font-size: var(--fs-16);
  color: var(--text-primary);
  border-radius: 5px;
  border: none;
}

.form-group input#image {
  background: none !important;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

#addproduct .form-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.form-btn button {
  background-color: var(--main-purple);
  color: var(--text-white);
  padding: 8px 16px;
  border-radius: 5px;
}
